<link rel="stylesheet" type="text/css" href="${res}/lib/jquery-easyui-1.5/themes/default/easyui.css">
<link rel="stylesheet" type="text/css" href="${res}/lib/jquery-easyui-1.5/themes/icon.css">

<script type="text/javascript" src="${res}/lib/jquery.min.js" charset="utf-8"></script>
<script type="text/javascript" src="${res}/lib/jquery.json-2.4.min.js" charset="utf-8"></script>
<script type="text/javascript" src="${res}/lib/jquery-easyui-1.5/jquery.easyui.min.js" charset="utf-8"></script>
<script type="text/javascript" src="${res}/lib/jquery-easyui-1.5/locale/easyui-lang-zh_CN.js" charset="utf-8"></script>
<script type="text/javascript" src="${res}/lib/extJquery.js" charset="utf-8"></script>

<script type="text/javascript" src="${res}/lib/underscore-min.js" charset="utf-8"></script>

<#-- 全站JS变量 -->
<script type="text/javascript" src="${res}/change/siteUrl.js" charset="utf-8"></script>
<#-- 工具 -->
<script type="text/javascript" src="${res}/js/fglobal.js" charset="utf-8"></script>
<#-- 省市县区area -->
<script type="text/javascript" src="${res}/js/area.js" charset="utf-8"></script>
<#-- 我的 -->
<script type="text/javascript" src="${res}/js/zmy.js" charset="utf-8"></script>

<link rel="stylesheet" type="text/css" href="${res}/lib/jquery-easyui-1.5/themes/default/easyui.css">
<link rel="stylesheet" type="text/css" href="${res}/lib/jquery-easyui-1.5/themes/icon.css">
<link rel="stylesheet" type="text/css" href="${res}/css/icons1.css">

<#-- 我的css -->
<link rel="stylesheet" href="${res}/css/my.css">


