<a style="margin-top:20px;" class="easyui-linkbutton" data-options="iconCls:'tick'"  href="${wbase}/user/soinit.html">初始化</a><br>
<div class="welcom-con">
        	 <div class="we-txt">
             	  <p>
                 <h2>欢迎使用医药一键通后台管理系统</h2> </p>
	
		1：如何登陆？<br />
		 -->：每个药店有独自的账号，初始密码为“123456”。进入后台后，可以点击【用户管理】-【账号信息修改】-修改密码<br />
		 <br />
		2:如何修改用户信息？<br />
		 -->：点击【用户管理】-【账号信息修改】-【修改】-修改密码<br />
		 <br/>
		3:如何完成订单交易？<br />
	     -->：点击【操作员】-【订单】-上方搜索框中输入订单号-在请输入订单号里面输入“订单号”-如果是配货服务，先与客户确定订单（收货地址 联系电话 药品数量）--点击【修改】可以修改订单中的药品数量-点击【取药】即可完成取药操作
		    -取药完后点击【打印】----配送客户订单（配送地址，订单数量）---完成订单交易-点击【操作员】-【订单】-【查看】可查看刚完成的订单详情<br/>
		<br/>
		4:如何修改订单数量？<br />
		 -->：点击【操作员】-【订单】-上方搜索框中输入订单号-在请输入订单号里面输入“订单号”-点击【修改】可以修改订单中的药品数量<br/>
		  <br />
		5:如何查询订单？<br />
		 -->：查询订单有3中方式<br/>
		  方式1：【操作员】-【订单】-上方搜索框中输入订单号-在请输入订单号里面输入“订单号”<br/>
		  方式2：【操作员】-【订单】-【查询】-自定义查询-填写“姓名”进行查询<br/>
		  方式2：【操作员】-【订单】-【查询】-自定义查询-填写“手机号”进行查询<br/>
		  
		<br /> 
		6:如何查看订单搜索历史？</br>
		 -->：点击【操作员】-【订单搜索历史】查看订单搜索历史记录，防止未取药的情况<br/>
		 <br/>
		7:如何修改实体药店信息？</br>
		 -->：点击【操作员】-【实体药店】-点击【修改】修改药店的基本信息<br/>
		 <br/>
		8:如何查看商品？
		 -->点击【商品】-【商品】-上方搜索框中输入商品名-选中商品-【查看】查看药品基本信息-【查看0】查看药品的说明书<br/>	  
		  <br/>
		9：如何退出管理系统？<br/>
		  -->：点击【注销】-【重新登录】/【退出系统】<br/>
		  <br/>
		10:有疑问找谁？<br/>
		  -->：平台客服专员电话：18969108338		 
		         平台邮箱：2797242776@qq.com
  </div>
