<script language="JavaScript" type="text/javascript"> 
$(function(){
	$('#west_tree').tree({
		checkbox: false,
		animate:true,
		lines:true,
		onClick:function(node){
			
			if(node.attributes && node.attributes=='confirm'){
				    if(!confirm('是否进行此操作？')) 
				        return false;  
			}
			if(node.id){
				$('#show_win').attr("src",node.id);
			}else{
				$('#west_tree').tree('expand',node.target);
			}

		}
	});
});
</script>

 <ul id="west_tree" class="easyui-tree">
   <li data-options="id:null"> <span>导航菜单</span>
     <ul>
	   <li data-options="id:'${base}/user/indexright.html'"> <span>操作手册</span> </li>
<@z.pmt key="0.User">
       <li data-options="id:null,state:'closed'"> <span>用户管理</span>
          <ul>
	<@z.pmt key="0.User"><li data-options="id:'${base}/user/User/index.html'"><@s.m 'db.User.tableAlias'/></li></@z.pmt>
	<@z.pmt key="0.Admin"><li data-options="id:'${base}/user/Admin/index.html'"><@s.m 'db.Admin.tableAlias'/></li></@z.pmt>
	<@z.pmt key="0.Member"><li data-options="id:'${base}/user/Member/index.html'"><@s.m 'db.Member.tableAlias'/></li></@z.pmt>
		 </ul>
        </li>
</@z.pmt>
<@z.pmt key="0.Articlechannel">
       <li data-options="id:null,state:'closed'"> <span>设置</span>
          <ul>
	<@z.pmt key="0.Articlechannel"><li data-options="id:'${base}/user/Articlechannel/index.html'"><@s.m 'db.Articlechannel.tableAlias'/></li></@z.pmt>
	<@z.pmt key="0.Wwwhome"><li data-options="id:'${base}/user/Wwwhome/index.html'"><@s.m 'db.Wwwhome.tableAlias'/></li></@z.pmt>
		 </ul>
        </li>
</@z.pmt>

<@z.pmt key="0.Question">
       <li data-options="id:null,state:'closed'"> <span><@s.m 'db.Question.tableAlias'/></span>
          <ul>
	<@z.pmt key="0.Question"><li data-options="id:'${base}/user/Question/index.html'"><@s.m 'db.Question.tableAlias'/></li></@z.pmt>
	<@z.pmt key="0.QuestionTxt"><li data-options="id:'${base}/user/QuestionTxt/index.html'"><@s.m 'db.QuestionTxt.tableAlias'/></li></@z.pmt>
	<@z.pmt key="0.QuestionLinkMemberView"><li data-options="id:'${base}/user/QuestionLinkMemberView/index.html'"><@s.m 'db.QuestionLinkMemberView.tableAlias'/></li></@z.pmt>
		 </ul>
        </li>
</@z.pmt>
<@z.pmt key="0.Quick">
       <li data-options="id:null,state:'closed'"> <span><@s.m 'db.Quick.tableAlias'/></span>
          <ul>
	<@z.pmt key="0.Quick"><li data-options="id:'${base}/user/Quick/index.html'"><@s.m 'db.Quick.tableAlias'/></li></@z.pmt>
	<@z.pmt key="0.QuickTxt"><li data-options="id:'${base}/user/QuickTxt/index.html'"><@s.m 'db.QuickTxt.tableAlias'/></li></@z.pmt>
	<@z.pmt key="0.QuickLinkMemberView"><li data-options="id:'${base}/user/QuickLinkMemberView/index.html'"><@s.m 'db.QuickLinkMemberView.tableAlias'/></li></@z.pmt>
	<@z.pmt key="0.QuickTxtComment"><li data-options="id:'${base}/user/QuickTxtComment/index.html'"><@s.m 'db.QuickTxtComment.tableAlias'/></li></@z.pmt>
		 </ul>
        </li>
</@z.pmt>
<@z.pmt key="0.OrderrQuestion">
       <li data-options="id:null,state:'closed'"> <span><@s.m 'db.OrderrQuestion.tableAlias'/></span>
          <ul>
	<@z.pmt key="0.OrderrQuestion"><li data-options="id:'${base}/user/OrderrQuestion/index.html'"><@s.m 'db.OrderrQuestion.tableAlias'/></li></@z.pmt>
	<@z.pmt key="0.OrderrQuick"><li data-options="id:'${base}/user/OrderrQuick/index.html'"><@s.m 'db.OrderrQuick.tableAlias'/></li></@z.pmt>
	<@z.pmt key="0.OrderrQuestionview"><li data-options="id:'${base}/user/OrderrQuestionview/index.html'"><@s.m 'db.OrderrQuestionview.tableAlias'/></li></@z.pmt>
	<@z.pmt key="0.OrderrQuickview"><li data-options="id:'${base}/user/OrderrQuickview/index.html'"><@s.m 'db.OrderrQuickview.tableAlias'/></li></@z.pmt>
		 </ul>
        </li>
</@z.pmt>
<@z.pmt key="0.Article">   
        <li data-options="id:null,state:'closed'"> <span><@s.m 'db.Article.tableAlias'/></span>
          <ul>
	<@z.pmt key="0.Article"><li data-options="id:'${base}/user/Article/index.html'"><@s.m 'db.Article.tableAlias'/></li></@z.pmt>
	<@z.pmt key="0.ArticleExtTxt"><li data-options="id:'${base}/user/ArticleExtTxt/index.html'"><@s.m 'db.ArticleExtTxt.tableAlias'/></li></@z.pmt>
	<@z.pmt key="0.ArticleComment"><li data-options="id:'${base}/user/ArticleComment/index.html'"><@s.m 'db.ArticleComment.tableAlias'/></li></@z.pmt>
	<@z.pmt key="0.Message"><li data-options="id:'${base}/user/Message/index.html'"><@s.m 'db.Message.tableAlias'/></li></@z.pmt>
          </ul>
        </li>
</@z.pmt>  
<@z.pmt key="0.ScoreHis">   
        <li data-options="id:null,state:'closed'"> <span>积分</span>
          <ul>
	<@z.pmt key="0.ScoreHis"><li data-options="id:'${base}/user/ScoreHis/index.html'"><@s.m 'db.ScoreHis.tableAlias'/></li></@z.pmt>
	<@z.pmt key="0.ScorememberStatiDay"><li data-options="id:'${base}/user/ScorememberStatiDay/index.html'"><@s.m 'db.ScorememberStatiDay.tableAlias'/></li></@z.pmt>
	<@z.pmt key="0.ScorememberStatiMonth"><li data-options="id:'${base}/user/ScorememberStatiMonth/index.html'"><@s.m 'db.ScorememberStatiMonth.tableAlias'/></li></@z.pmt>
          </ul>
        </li>
</@z.pmt> 
<@z.pmt key="0.Signin">   
        <li data-options="id:null,state:'closed'"> <span>签到</span>
          <ul>
	<@z.pmt key="0.ScoreHis"><li data-options="id:'${base}/user/Signin/index.html'"><@s.m 'db.Signin.tableAlias'/></li></@z.pmt>
          </ul>
        </li>
</@z.pmt> 
<@z.pmt key="0.Wxcfg">
       <li data-options="id:null,state:'closed'"> <span>微信相关</span>
          <ul>
	<@z.pmt key="0.Wxcfg"><li data-options="id:'${base}/user/Wxcfg/index.html'"><@s.m 'db.Wxcfg.tableAlias'/></li></@z.pmt>
	<@z.pmt key="0.Wxouser"><li data-options="id:'${base}/user/Wxouser/index.html'"><@s.m 'db.Wxouser.tableAlias'/></li></@z.pmt>
	<@z.pmt key="0.Wxr"><li data-options="id:'${base}/user/Wxr/index.html'"><@s.m 'db.Wxr.tableAlias'/></li></@z.pmt>
	<@z.pmt key="0.Wxrb"><li data-options="id:'${base}/user/Wxrb/index.html'"><@s.m 'db.Wxrb.tableAlias'/></li></@z.pmt>
	<@z.pmt key="0.Wxousersubscribehis"><li data-options="id:'${base}/user/Wxousersubscribehis/index.html'"><@s.m 'db.Wxousersubscribehis.tableAlias'/></li></@z.pmt>
	<@z.pmt key="0.WaQrcodeticketScene"><li data-options="id:'${base}/user/WaQrcodeticketScene/index.html'"><@s.m 'db.WaQrcodeticketScene.tableAlias'/></li></@z.pmt>
	<@z.pmt key="0.WaQradv"><li data-options="id:'${base}/user/WaQradv/index.html'"><@s.m 'db.WaQradv.tableAlias'/></li></@z.pmt>
	<@z.pmt key="0.WaEntityArticle"><li data-options="id:'${base}/user/WaEntityArticle/index.html'"><@s.m 'db.WaEntityArticle.tableAlias'/></li></@z.pmt>
	<@z.pmt key="0.Wxmenu"><li data-options="id:'${base}/user/Wxmenu/index.html'"><@s.m 'db.Wxmenu.tableAlias'/></li></@z.pmt>
	<@z.pmt key="0.WaRecvmsg"><li data-options="id:'${base}/user/WaRecvmsg/index.html'"><@s.m 'db.WaRecvmsg.tableAlias'/></li></@z.pmt>
	<@z.pmt key="0.WaCustomAudParam"><li data-options="id:'${base}/user/WaCustomAudParam/index.html'"><@s.m 'db.WaCustomAudParam.tableAlias'/></li></@z.pmt>
	<@z.pmt key="0.Wxmsgtemplate"><li data-options="id:'${base}/user/Wxmsgtemplate/index.html'"><@s.m 'db.Wxmsgtemplate.tableAlias'/></li></@z.pmt>
	<@z.pmt key="0.WaTemplateAdd"><li data-options="id:'${base}/user/WaTemplateAdd/index.html'"><@s.m 'db.WaTemplateAdd.tableAlias'/></li></@z.pmt>
	<@z.pmt key="0.WxUsergroup"><li data-options="id:'${base}/user/WxUsergroup/index.html'"><@s.m 'db.WxUsergroup.tableAlias'/></li></@z.pmt>
	<@z.pmt key="0.WaGeneralNoticeRet"><li data-options="id:'${base}/user/WaGeneralNoticeRet/index.html'"><@s.m 'db.WaGeneralNoticeRet.tableAlias'/></li></@z.pmt>
		 </ul>
        </li>
</@z.pmt>
<@z.pmt key="0.Permittable">   
        <li data-options="id:null,state:'closed'"> <span>权限管理1</span>
          <ul>
	<@z.pmt key="0.Permittable"><li data-options="id:'${base}/user/Permittable/index.html'"><@s.m 'db.Permittable.tableAlias'/></li></@z.pmt>
	<@z.pmt key="0.Permitfield"><li data-options="id:'${base}/user/Permitfield/index.html'"><@s.m 'db.Permitfield.tableAlias'/></li></@z.pmt>
 	<@z.pmt key="0.Oplog"><li data-options="id:'${base}/user/Oplog/index.html'"><@s.m 'db.Oplog.tableAlias'/></li></@z.pmt>
          </ul>
        </li>
</@z.pmt>   
<@z.pmt key="0.Tbfield">        
       <li data-options="id:null,state:'closed'"> <span>系统设置</span>
          <ul>
	<@z.pmt key="0.Tbfield"><li data-options="id:'${base}/user/Tbfield/index.html'"><@s.m 'db.Tbfield.tableAlias'/></li></@z.pmt>
	<@z.pmt key="0.Webset"><li data-options="id:'${base}/user/Webset/index.html'"><@s.m 'db.Webset.tableAlias'/></li></@z.pmt>
	<@z.pmt key="0.Myiso"><li data-options="id:'${base}/user/Myiso/index.html'"><@s.m 'db.Myiso.tableAlias'/></li></@z.pmt>
	<@z.pmt key="0.Tbfield"><li data-options="id:'${base}/user/dbinit.html',attributes:'confirm'">初始化数据库</li></@z.pmt>
	<@z.pmt key="0.Tbfield"><li data-options="id:'${base}/user/paraminit.html',attributes:'confirm'">更新参数配置</li></@z.pmt>
	<@z.pmt key="0.Tbfield"><li data-options="id:'${base}/user/shsh.html?sh=wwwmag',attributes:'confirm'">发布手机页面代码</li></@z.pmt>
	<@z.pmt key="0.Tbfield"><li data-options="id:'${base}/user/shsh.html?sh=hmag',attributes:'confirm'">发布后台页面代码</li></@z.pmt>
	<@z.pmt key="0.Tbfield"><li data-options="id:'${base}/user/shsh.html?sh=dmag',attributes:'confirm'">发布全部页面代码(会重启)</li></@z.pmt>
          </ul>
        </li>
</@z.pmt> 
     </ul>
   </li>
</ul>
