<!DOCTYPE HTML>
<html class="ng-scope" lang="en" ng-app="weuiapp">
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width,initial-scale=1,user-scalable=0">
<link rel="stylesheet" href="${res}/style/weui.min.css" />
<style>
* {
	box-sizing: border-box;
}
</style>

<script type="text/javascript" src="${res}/js/angular/angular.min.js"></script>
<script type="text/javascript"
	src="${res}/js/angular/angular-route.min.js"></script>
<script type="text/javascript" src="${res}/change/siteUrl.js"
	charset="utf-8"></script>
<script>
	angular
			.module('weuiapp', [])
			.controller(
					'homeCtrl',
					function($scope, $http, $timeout) {
						console.log("doctorInit...");
						/**客户端信息*/
						var CLIENT_INFO = "clientInfo";
						var openid = "${wxouser.id}";
						var clientInfo = window.JSON.parse(window.localStorage
								.getItem(CLIENT_INFO));
						$scope.user = {};
						$scope.doctor = {};
						$scope.step = 1;
						$scope.countdown = 0;
						/**
						 * 提交手机号
						 */
						$scope.reg2 = function() {
							console.log("login...");
							console.log($scope.user);
							if (!$scope.checkPhoneNum($scope.user.username)) {
								return;
							}
							if ($scope.user.code == null) {
								return;
							}
							url = wbase + "/pub/wx/memberreg/regDoctor";
							$http({
								method : 'POST',
								url : url,
								params : {
									username : $scope.user.username,
									openid : openid,
									code : $scope.user.code
								}
							}).success(function (data) {
						   		console.log(data);
						   		if(data.success==true){
							   		$scope.step=2;
							   		$scope.user.id = data.obj.id;
									$scope.doctor.id = data.obj.id;
						   		}
						   		if(data.success==false){
							   		alert(data.msg);
					        	}
					        });
						};
						//获取验证码
						$scope.requestCode = function() {
							if (!$scope.checkPhoneNum($scope.user.username)) {
								return;
							}
							$scope.count(60);
							url = wbase + "/rest/requestCode";
							var mobile = $scope.user.username;
							$http({
								method : 'GET',
								url : url,
								params : {
									mobile : mobile
								}
							});
						};
						//点击下一步
						$scope.reg3 = function() {
							if ($scope.doctor.name == null) {
								return;
							}
							if ($scope.doctor.age == null) {
								return;
							}
							url = wbase + "/pub/wx/memberreg/regDoctor2";
							$http({
								method : 'POST',
								url : url,
								params : {
									id : $scope.doctor.id,
									name : $scope.doctor.name,
									age : $scope.doctor.age,
									usersex : $scope.doctor.usersex
								}
							}).success(function (data) {
						   		if(data.success==true){
							   		$scope.step=3;
							   		alert(data.msg);
						   		}
						   		if(data.success==false){
							   		alert(data.msg);
					        	}
					        });
						};
						//检查手机号
						$scope.checkPhoneNum = function(phone) {
							var ChinaMOBILE = /^1(3[4-9]|5[012789]|8[23478]|4[7]|7[8])\d{8}$/; //移动
							var ChinaUNICOM = /^1(3[0-2]|5[56]|8[56]|4[5]|7[6])\d{8}$/; //联通
							var ChinaTELECOM = /^(13|15|17|18)\d{9}$/; //电信
							var ChinaTest = /^(101234)\d{5}$/; //TEST
							if (ChinaMOBILE.test(phone)
									|| ChinaUNICOM.test(phone)
									|| ChinaTELECOM.test(phone)
									|| ChinaTest.test(phone)) {
								return true;
							} else {
								console.log("错误的手机号");
								return false;
							}
						};
						/**
						 * 定时器
						 */
						$scope.count = function(n) {
							$scope.countdown = n;
							if (n != 0) {
								$timeout(function() {
									$scope.count(n - 1);
								}, 1000);
							}
						};
					});
</script>
<body class="ng-scope" ng-controller="homeCtrl">
	<div class="page" ng-if="step==1">
		<div class="bd">
			<div class="weui_cells weui_cells_form">
				<div class="weui_cell">
					<div class="weui_cell_hd">
						<label class="weui_label">手机</label>
					</div>
					<div class="weui_cell_bd weui_cell_primary">
						<input ng-model="user.username" class="weui_input" type="tel"
							pattern="[0-9]{11}" placeholder="请输入手机号" />
					</div>
					<div class="weui_cell_ft">
						<button ng-if="countdown == 0" ng-click="requestCode()"
							type="button" class="weui_btn weui_btn_mini weui_btn_primary">获取验证码</button>
						<button ng-if="countdown != 0" type="button" disabled
							class="weui_btn weui_btn_mini weui_btn_disabled weui_btn_default">{{countdown}}重新获取</button>
					</div>
				</div>
				<div class="weui_cell">
					<div class="weui_cell_hd">
						<label class="weui_label">验证码</label>
					</div>
					<div class="weui_cell_bd weui_cell_primary">
						<input ng-model="user.code" class="weui_input" type="tel"
							pattern="[0-9]{4}" placeholder="请输入验证码" />
					</div>
				</div>
			</div>
			<div class="weui_btn_area">
				<a class="weui_btn weui_btn_primary" ng-click="reg2()">下一步</a>
			</div>
		</div>
	</div>
	<div class="page" ng-if="step==2">
		<div class="bd">
			<div class="weui_cells weui_cells_form">
				<div class="weui_cell">
					<div class="weui_cell_hd">
						<label class="weui_label">姓名</label>
					</div>
					<div class="weui_cell_bd weui_cell_primary">
						<input ng-model="doctor.name" class="weui_input" type="text"
							placeholder="请输入你的姓名" />
					</div>
				</div>
				<div class="weui_cell">
					<div class="weui_cell_hd">
						<label class="weui_label">年龄</label>
					</div>
					<div class="weui_cell_bd weui_cell_primary">
						<input ng-model="doctor.age" class="weui_input" type="tel"
							pattern="[0-9]*" placeholder="请输入你的年龄" />
					</div>
				</div>
				<div class="weui_cell">
					<div class="weui_cell_hd">
						<label class="weui_label">性别</label>
					</div>
					<div class="weui_cell_bd weui_cell_primary">
						<div class="weui_select" name="select2">
							<input ng-model="doctor.usersex" type="radio" name="select2"
								value="0" />男 <input ng-model="doctor.usersex" type="radio"
								name="select2" value="1" />女
						</div>
					</div>
				</div>
				<div class="weui_btn_area"
					style="clear: both; text-align: center; padding-top: 5px;">
					<a ng-click="reg3()" class="weui_btn weui_btn_primary">完成</a>
				</div>
			</div>
		</div>
	</div>
	<div class="page" ng-if="step==3">
		<div class="bd">
			<div class="weui_cells weui_cells_form" ng-if="step==3">
				<div class="weui_btn_area" style="text-align: center;">
					<a class="weui_btn weui_btn_primary"
						href="http://a.app.qq.com/o/simple.jsp?pkgname=com.zmax.yijianwww_b"><img
						src="${res}/aw/images/icon_nav_anzhuo.png"
						style="vertical-align: middle; padding-right: 10px;" />下载安卓版App</a>
				</div>
				<!--  
				<div onclick="alert('请从微信公众号进入')" class="weui_btn_area" style="text-align: center;">
					<a class="weui_btn weui_btn_default"><img
						src="${res}/aw/images/icon_nav_iphone.png"
						style="vertical-align: middle; padding-right: 10px;" />下载苹果版App</a>
				</div>
				-->
			
				<div class="weui_btn_area"  style="text-align: center;">
                <a class="weui_btn weui_btn_default" href="http://a.app.qq.com/o/simple.jsp?pkgname=com.zmax.yijianwww_b"><img src="${res}/aw/images/icon_nav_iphone.png" style="vertical-align: middle;padding-right:10px;"/>下载苹果版App</a>
            	</div>
            	
			</div>
		</div>
	</div>
</body>